  .r-link{
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  
  
  .ai-element{
      --uiaiElementDisplay: var(--aiElementDisplay, inline-flex);	
      --uiaiElementPadding: var(--aiElementPadding, var(--aiElementPaddingTop, 0) var(--aiElementPaddingRight, 0) var(--aiElementPaddingBottom, 0) var(--aiElementPaddingLeft, 0));
      --uiaiElementColor: var(--aiElementColor);
  
      display: var(--uiaiElementDisplay);
      position: relative;
      overflow: hidden;
  }
  
  a.ai-element{
      padding: var(--uiaiElementPadding);
  }

  
  .ai-element__label{
      color: var(--uiaiElementColor);
  }
  
  
  
 
  
  .ai-element_type3 {
      --uiaiElementLineColor: var(--aiElementLineColor, #000);	
      --uiaiElementPadding: var(--aiElementPadding, 10px);
      transition: color .3s ease-out;
      z-index: 1;
  }
  
  .ai-element_type3::before, 
  .ai-element_type3::after{
      content: "";
      background-color: var(--uiaiElementLineColor);	
      opacity: 1;
      position: absolute;
      z-index: -1;
  
      transition: transform .35s ease-out, opacity .35s ease-out .03s;
  }
  
  .ai-element_type3:hover::before, 
  .ai-element_type3:hover::after{
      opacity: 0;
      transition-delay: 0s;
  }
  
  .ai-element_text::before{
      content: attr(data-ai-element-text);
      color: var(--uiaiElementColorHover);
      position: absolute;
  }
  
  .ai-element_text::before, 
  .ai-element_text .ai-element__label{
      transition-property: transform;
      transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
      transition-duration: .4s;
  }
  
  .ai-element_text:hover::before,
  .ai-element_text:hover .ai-element__label{
      transition-duration: .3s;
  }
  
  
  .ai-element9::before,
  .ai-element9::after{
      width: 51%;
      height: 100%;
      top: 0; 
      transform: translate3d(0, 0, 0);
  }
  
  .ai-element9::before{
      left: 0;
  }
  
  .ai-element9::after{
      right: 0;
  }
  
  .ai-element9:hover::before{
      transform: translate3d(-100%, 0, 0) rotate(-45deg);
  }
  
  .ai-element9:hover::after{
      transform: translate3d(100%, 0, 0) rotate(-45deg);	
  }
  
  .section{
    display: flex;
    min-height: 300px;	
    text-align: center;
      
    font-size: 22px;
    font-weight: 700;
  }
  
  .section:nth-child(2n+1){
    background-color: #f1f4fa;
  }
  
  .section__item{
    margin: auto;
  }
  
  .section__box:nth-child(n+2){
    margin-top: 40px;
  }
  
  .ai-element__label{
      --uiaiElementColorHover: var(--aiElementColorHover);	
      font-weight: 700;
      text-transform: uppercase;
  }
  
  .ai-element:hover .ai-element__label{
      color: var(--uiaiElementColorHover);
  }
  
  .ai-element{
      --aiElementLineWeight: 5px;
      --aiElementLineColor: #0C2543;
      --aiElementColor: #0C2543;
      --aiElementColorHover: #0C2543;
  }
  
  
  .ai-element_type3{
      --aiElementPadding: 10px 15px;
  }
  
  .ai-element_type3{
      --aiElementColor: #fff;
  }